---
import Main from "../layouts/Main.astro";

export const prerender = true;
---

<Main title="About">
  <p class="w-96">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores
    doloremque, a delectus perspiciatis voluptatem possimus distinctio atque
    voluptates eius sequi, eligendi animi ducimus facilis laboriosam sunt
    dignissimos. Eius, itaque!
  </p>
</Main>
