---
import Main from "../layouts/Main.astro";

export const prerender = true;
---

<Main title="Alexanders FotoBlog">
  <p class="w-96 text-center">
    Eine Sammlung von vielen Fotos, die ich während wunderschönder
    Sonnenuntergänge in der ganzen Welt geschossen habe.
  </p>

  <img src="/api/image.jpg" alt="psylo" class="max-h-[90vh]" loading="lazy" />
</Main>
