---
import Button from "../components/Button.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Fotoblog</title>
  </head>
  <body class="grid place-content-center min-h-screen">
    <Button />
  </body>
</html>
