---
---

<my-button class="bg-slate-50 border-slate-300 border hover:bg-slate-100 p-1">
  <button></button>
</my-button>

<script>
  class MyButton extends HTMLElement {
    constructor() {
      super();

      let count = 0;
      let button = this.querySelector("button")!;

      button.innerHTML = "Click Me Moooore!";

      this.addEventListener("click", () => {
        count += 1;
        button.innerHTML = count.toString();
      });
    }
  }

  customElements.define("my-button", MyButton);
</script>
