---
import Nav from "../components/Nav.astro";
import Meta from "../components/basic/Meta.astro";
import Body from "../components/basic/Body.astro";
import "../styles/base.css";

const { frontmatter } = Astro.props;
const { collection } = Astro.params; // TODO: FIX to represent file name
---

<html lang="en">
  <head>
    <Meta />
    <title>{frontmatter.title}</title>
  </head>
  <Body>
    <Nav />
    <slot />
  </Body>
  <style is:global>
    h1 {
      @apply text-5xl;
    }

    img {
      @apply w-40;
    }
  </style>
</html>
